:host {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%; /* Asegura que el componente ocupe toda la altura disponible */
    overflow: hidden; /* Evita que los componentes hijos generen barras de desplazamiento */
    margin-bottom: 2rem;
}

.table-row:hover {
    background-color: #edeaea3c;
    cursor: pointer;
  }
  table {
    width: 100%;
    overflow-x: auto;
  }
  
  th,
  td {
    padding: 16px;
    text-align: left;
  }
  
  @media (max-width: 600px) {
    table {
        width: 100%;
        overflow-x: auto;
        display: block;
    }
  }