<table matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
    <ng-container matColumnDef="PK_Id_Usuario">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">{{element.PK_Id_Usuario}}</td>
    </ng-container>

    <ng-container matColumnDef="SNombre">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element">{{element.SNombre}}</td>
    </ng-container>

    <ng-container matColumnDef="SEmail">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>Correo</th>
        <td mat-cell *matCellDef="let element">{{element.SEmail}}</td>
    </ng-container>

    <ng-container matColumnDef="SEscuadron">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>Escuadron</th>
        <td mat-cell *matCellDef="let element">{{element.SEscuadron}}</td>
    </ng-container>

    <ng-container matColumnDef="STelefono">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>Telefono</th>
        <td mat-cell *matCellDef="let element">{{element.STelefono}}</td>
    </ng-container>

    <ng-container matColumnDef="DFechaCreacion">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>Fecha solicitud</th>
        <td mat-cell *matCellDef="let element">{{element.DFechaCreacion}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsTable"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsTable;" (click)="AbrirModalRevisarSolicitud(row)" [ngClass]="{'table-row': true}" ></tr>
</table>
<mat-paginator [pageSizeOptions]="[5,10,15]"
              aria-label="Página"
              color="accent" showFirstLastButtons>
</mat-paginator>
<br>