button{
    background-color: hsla(0, 0%, 7%, 0);
    border: none;
    border-radius: 15px;
    width: 200px;
    margin-left: 5px;
}

button p {
    color: #fff;
    margin: 0;
    margin-bottom: 2px;
    line-height: 1;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

button:hover{
    background-color: #222121;
}