<div class="widget-container">
    <div class="widget green">
      <div class="icon">
        <mat-icon>home</mat-icon>
      </div>
      <div class="value">
        <div class="top">32</div>
        <div class="bottom">Agentes Activos</div>
      </div>
    </div>
    <div class="widget yellow">
      <div class="icon">
        <mat-icon>home</mat-icon>
      </div>
      <div class="value">
        <div class="top">295</div>
        <div class="bottom">Misiones Completadas</div>
      </div>
    </div>
    <div class="widget blue">
      <div class="icon">
        <mat-icon>home</mat-icon>
      </div>
      <div class="value">
        <div class="top">8</div>
        <div class="bottom">Misiones en Curso</div>
      </div>
    </div>
    <div class="widget red">
      <div class="icon">
        <mat-icon>home</mat-icon>
      </div>
      <div class="value">
        <div class="top">3</div>
        <div class="bottom">Misiones Retrasadas</div>
      </div>
    </div>

    <div class="widget money">
        <div class="icon">
          <mat-icon>home</mat-icon>
        </div>
        <div class="value">
          <div class="top">$346.928</div>
          <div class="bottom">Dinero Disponible</div>
        </div>
      </div>
  </div>
