<ngx-spinner template='
  <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;">
    <img src="../../../assets/img/spinner.png" style="max-width: 50px; height: auto;" alt="Spinner">
    <h2 style="color: white; padding: 10px;">Cargando...</h2>
  </div>'></ngx-spinner>

<div class="parent">
    <div class="container">
        <form [formGroup]="forgotPasswordForm">
            <h1>Recuperar Contraseña</h1>
            <mat-form-field color="accent" appearance="fill" class="full-width">
                <mat-label>Correo electrónico</mat-label>
                <input matInput type="email" formControlName="SEmail">
            </mat-form-field>
        </form>
        <div *ngIf="camposObligatorios" class="camposObligatorios">
            <p>Completa los campos obligarios</p>
        </div>
        <div class="btn">
            <button class="recuperar" mat-raised-button (click)="recuperarPass()" type="submit" >
                <span>Enviar Solicitud</span>
            </button>
            <button  class="login" mat-raised-button  (click)="regresarLogin()" type="submit">
                <span>Regresar</span>
            </button>
        </div>
        
    </div>
</div>